.wp-block-quote {
    padding-left: 0;
    border-left: none;

    p {
        padding-left: var(--global--spacing-vertical);
        margin-bottom: 30px;
        font-size: var(--blockquote--font-size);
        font-style: italic;
        line-height: var(--blockquote--line-height);
        border-left: 1px solid $color-gray-200;

        &:first-of-type::before {
            content: "« ";
        }

        &:last-of-type::after {
            content: " »";
        }
    }

    cite {
        font-size: var(--global--font-size-md);
        font-weight: 700;
    }

    &.is-style-bold {
        p {
            font-style: normal;
            font-weight: 700;
        }
    }

    @include breakpoints(xsm) {
        padding-right: column-px(1, 2);
    }
}
